body{
   background: url(https://images.unsplash.com/photo-1643345397840-651fc8efd91e?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGVybWluYXRvcnxlbnwwfHwwfHx8MA%3D%3D); 
   color: white;
   font-family: poppins;
}